.container {
  width: 100vw;
  height: 100%;
}

.header {
  background-color: lightblue;
  padding: 10px;
  font-size: 1.5rem;
}

.main {
  padding: 10px;
}

.section {
  background-color: lightgrey;
  margin-bottom: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  /* flex-wrap: wrap; */
  overflow-y: auto;
  font-size: 20px;

}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
}

.box {
  background-color: tomato;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 130px;
}

@media screen and (max-width: 992px) { 
  .box {
    background-color: orange;
  } 
}


